<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cola.mapper.RecordMapper">
  <resultMap id="BaseResultMap" type="com.cola.model.Record">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="award_id" jdbcType="INTEGER" property="awardId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, member_id, award_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cola.model.Record" useGeneratedKeys="true">
    insert into record (member_id, award_id, create_time
      )
    values (#{memberId,jdbcType=INTEGER}, #{awardId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cola.model.Record" useGeneratedKeys="true">
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberId != null">
        member_id,
      </if>
      <if test="awardId != null">
        award_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="awardId != null">
        #{awardId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cola.model.Record">
    update record
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="awardId != null">
        award_id = #{awardId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cola.model.Record">
    update record
    set member_id = #{memberId,jdbcType=INTEGER},
      award_id = #{awardId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--  批量插入多条抽奖记录 -->
  <insert id="batchInsert">
    INSERT INTO record(member_id, award_id)
    VALUES 
        <foreach collection="memberIds" item="item" separator=",">
          (#{item}, #{awardId})
        </foreach>
  </insert>

<!--  根据 member_id 删除当前奖项某个获奖人员 -->
  <delete id="deleteByMemberId">
    DELETE FROM record
    WHERE member_id = #{memberId}
  </delete>

<!--  根据 award_id 删除当前奖项所有已获奖人员 -->
  <delete id="deleteByAwardId">
    DELETE FROM record
    WHERE award_id = #{awardId}
  </delete>

<!--  根据 userId 清空该设置页面所有奖项纪录 -->
  <delete id="deleteByUserId">
    DELETE record
    FROM user, setting, award, member, record
    WHERE
        user.id = setting.user_id
    AND setting.id = award.setting_id
    AND setting.id = member.setting_id
    AND (award.id = record.award_id OR member.id = record.member_id)
    AND user.id = #{userId}
  </delete>

</mapper>